@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

:root {
  --background-main: #f0f2f5;
  --white: #fff;
  --primary-1: #6070ff;
  --color2: #172b4d;
  --color3: #344563;
  --color4: #7f8cff;
  --color5: #7a869a;
  --color6: #ebebff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  height: 100vh;
  background-color: var(--background-main);
  overflow: auto;
}

textarea {
  font-family: "Poppins", sans-serif;
}

#toolbar {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  background-color: var(--white);
}

#toolbar nav {
  width: 100%;
}

ul {
  list-style-type: none;
}

#toolbar nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.programming-lang li {
  display: flex;
  align-items: center;
  background-color: #f7f7f9;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: #253858;
  margin: 16px 20px 16px 0;
  gap: 16px;
  padding: 10px;
}

main .card-works .card .card-description .web-languages li {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  background-color: #ebebff;
  padding: 4px 12px;
  border-radius: 8px;
  margin: 10px 0;
}

main .card-works .card .card-description .web-languages li a {
  text-decoration: none;
}

#toolbar nav ul li {
  display: inline;
}

#toolbar nav ul li button {
  border: none;
  outline: none;
  background-color: transparent;
}

#toolbar nav ul li a {
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-1);
  font-size: 18px;
  font-weight: 900;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  text-align: center;
  line-height: 20px;
}

#headline {
  height: 72vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  background-color: var(--white);
  background-image: url(./header-shapes\ mobile.png);
  background-repeat: no-repeat;
  background-size: 100% 97%;
  border-radius: 0 0 0 80px;
}

.contact-form h1 {
  color: var(--white);
  font-size: 42px;
}

#headline h1 {
  color: var(--color2);
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 52px;
}

.contact-form p {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  color: var(--color6);
  padding: 10px 0;
}

#headline p {
  color: var(--color3);
  line-height: 24px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  margin: 10px 0;
}

#headline h3 {
  color: var(--color4);
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

main #headline ul {
  list-style-type: none;
}

main #headline ul li {
  display: inline-flex;
  padding: 0 4px;
  margin: 10px 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  font-size: 16px;
}

#headline ul li a:last-child {
  padding-left: 0;
}

#about-myself h3 {
  color: var(--color4);
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding: 10px 0;
}

#headline h3:hover {
  color: var(--primary-1);
}

main .card-works {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(1fr);
  margin-top: 120px;
  gap: 50px;
  padding: 14px;
  background-color: var(--white);
  border-radius: 16px;
  margin-left: 25px;
  margin-right: 25px;
  border: 1px solid #e7e7e7;
}

main .card-works .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3px 0;
}

main .card-works .card .card-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  padding: 18px 0;
}

main .card-works .card .card-description .card-title {
  text-transform: capitalize;
  color: var(--color2);
  font-family: 'Poppins', sans-serif;
  font-size: 33px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
}

main .card-works .card .card-description .subheading {
  display: flex;
  align-items: center;
  gap: 12px;
}

main .card-works .card .card-description .subheading .canopy {
  color: var(--color3);
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  text-transform: uppercase;
}

main .card-works .card .card-description .subheading .subheading-list {
  color: var(--color5);
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  text-transform: capitalize;
}

main .card-works .card .card-description .card-content {
  color: var(--color3);
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

main .card-works .card .card-description .web-languages {
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  list-style-type: none;
  gap: 16px;
  padding-left: 0;
  color: var(--primary-1);
  text-transform: uppercase;
}

main .card-works .card .card-description .see-project {
  display: flex;
  align-items: center;
  border: 1px solid var(--primary-1);
  border-radius: 8px;
  background-color: #fff;
  color: #396df2;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  padding: 12px;
  gap: 10px;
  letter-spacing: 0.51px;
}

main .card-works .card .card-description .see-project:hover {
  color: var(--white);
  cursor: pointer;
  background-color: var(--primary-1);
}

/* about  */

#about-myself {
  padding: 100px 30px;
  background-color: var(--white);
  margin-top: 130px;
  border-radius: 0 100px 0 0 / 100px;
  padding-top: 25%;
  padding-right: 8%;
  padding-left: 8%;
  padding-bottom: 40%;
}

#about-myself h1 {
  color: var(--color2);
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 52px;
}

#about-myself p {
  color: var(--color3);
  line-height: 24px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  margin: 10px 0;
}

#about-myself h3:hover {
  color: var(--primary-1);
}

#about-myself ul.social {
  list-style-type: none;
}

#about-myself ul.social li {
  display: inline-flex;
  padding: 10px 8px;
  margin: 10px 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  font-size: 16px;
}

#about-myself .my-resume {
  border: 1px solid var(--primary-1);
  border-radius: 8px;
  background-color: #fff;
  color: #396df2;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding: 12px;
  letter-spacing: 0.51px;
  gap: 10px;
}

#about-myself .my-resume:hover {
  color: var(--white);
  cursor: pointer;
  background-color: var(--primary-1);
}

#about-myself .my-resume:active {
  box-shadow: 2px 2px 5px #2230d2;
}

#about-myself .programming-lang {
  list-style: none;
  padding-left: 0;
}

.web-lang {
  padding-left: 16px;
}

.list-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  padding-left: 0;
}

.list-separator {
  width: 100%;
}

.lists {
  display: flex;
  align-items: center;
  gap: 30vw;
  max-width: 100%;
  height: 66.72px;
  width: 100%;
  padding: 0;
  margin: 0;
  justify-content: space-around;
}

.lists h4 {
  margin-right: 0;
  align-items: center;
  justify-content: flex-start;
  max-width: 60vw;
  padding: auto;
  width: 100px;
  right: 80px !important;
}

#aboutme-list {
  margin: 0;
  padding: 0;
}

#contact {
  background-color: var(--white);
}

.contact-form {
  display: flex;
  flex-direction: column;
  padding: 100px 30px;
  background-image: url('./Icons/contact\ form\ shapes-mobile.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100%;
  background-color: var(--primary-1);
  border-radius: 100px 0 0 0 / 100px;
  padding-top: 25%;
  padding-right: 8%;
  padding-left: 8%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  text-align: center;
}

.contact-form .inputs,
.inputs-msg {
  width: 100%;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  background-color: #fff;
  margin: 20px 0;
}

.contact-form .inputs-msg {
  height: 150px;
}

.contact-form input,
textarea {
  display: flex;
  width: 80%;
  height: 18px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  color: var(--color3);
  margin: 16px 15px 36px 15px;
  border: none;
  box-sizing: border-box;
}

.contact-form textarea {
  height: 14vh;
  resize: none;
}

.contact-form input:hover {
  border: 3px solid #cfd8dc;
}

.contact-form textarea:hover {
  border: 3px solid #cfd8dc;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border: 1px solid blueviolet;
}

.contact-btn {
  margin: auto;
  background-color: #fff;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  color: #7f8cff;
  font-weight: 500;
  padding: 0.7em;
  border-radius: 0.5em;
  border: 1px solid #7f8cff;
  float: left;
}

.contact-btn:hover {
  background: #6070ff;
  color: #fff;
}

.contact-btn:active {
  background-color: #2230d2;
}
